.header{
    padding: 20px 25px;
    box-shadow: var(--box-shadow-light);
    background-color: var(--clr-white);
    & > .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin-inline: auto;
    }
    & h1{
        font-size: 16px;
    }

    & button{
        cursor: pointer;
        font-weight: var(--fw-semi-bold);
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        text-transform:initial;
    }

    @media (min-width:800px) {
        padding-inline: 40px;
    }
    &.dark {
        box-shadow: 5px 2px 5px rgba(1, 1, 1, 0.4);
        color: var(--clr-white);
        background-color: var(--clr-dark-blue);
    }
}
